{{#each schedule as |schedule|}}

<div class="card profile-meal-card col-xs-4">
  <img class="card-img-top" src= {{schedule.recipe.image}} alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{schedule.recipe.title}}</h4>
    <p class="card-text">5 points</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{cook/cook-start
                                    schedule=schedule
                                    cook='cook'
                                  }}
    </li>
    <li class="list-group-item">Favorite</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
{{/each}}
