.jumbotron {
  margin-bottom: 0;

}

.container-fluid {
  width: 100%;
}

.recipe-card {
  height: 500px;
  // width: 80%;
  margin: 5% 0%;
  & .browse-recipe-image {
    width: 100%;
  }
}

.navbar {
  margin: 0 0;
}


.view-recipe {
  width: 80%;
  margin: 0 auto;
  & .back-to-recipes {
    display: block;
  }
  & .view-recipe-image {
    max-height: 500px;
    margin: 0 auto;
    margin: 0 auto;
  }
}

.profile-meal-card {
  // height: 500px;
  & img {
    width: 100%;
  }
}

.back-to-schedules {
  display: block;
}

.view-profiles {
  .score-status {
  }
}

.home-image {
  width: 100%;
  height: 600px;
}

#home1 {
  background-image: url('https://static.pexels.com/photos/65175/pexels-photo-65175-large.jpeg');
  background-size: cover;
  background-repeat: none;
}

#home2 {
  background-image: url('https://static.pexels.com/photos/8817/food-dinner-pasta-broccoli-large.jpg');
  background-size: cover;
  background-repeat: none;
}

#home3 {
  background-image: url('https://static.pexels.com/photos/7765/food-large.jpg');
  background-size: cover;
  background-repeat: none;
}
