// .recipe-card {
//   & img {
//     width:100%;
//   }
// }


.recipe-card {
  // height: 500px;
  & .browse-recipe-image {
    width: 100%;
  }
}

.view-recipe {
  width: 80%;
  margin: 0 auto;
  & .back-to-recipes {
    display: block;
  }
  & .view-recipe-image {
    width: 50%;
    margin: 0 auto;
  }
}
