.jumbotron {
  margin-bottom: 0;

}

.container-fluid {
  width: 100%;
}

.recipe-card {
  height: 500px;
  // width: 80%;
  margin: 5% 0%;
  & .browse-recipe-image {
    width: 100%;
  }
}

.view-recipe {
  width: 80%;
  margin: 0 auto;
  & .back-to-recipes {
    display: block;
  }
  & .view-recipe-image {
    width: 50%;
    margin: 0 auto;
  }
}

.profile-meal-card {
  // height: 500px;
  & img {
    width: 100%;
  }
}
