<!-- <button class="btn btn-xs btn-primary" schedule=schedule
  {{action "completeMeal"}}>
  Complete {{schedule.recipe.title}}
</button> -->

<button type="submit" class="btn btn-primary profile-meal-button" {{action "completeMeal" }} >
  Complete {{schedule.recipe.title}}
</button>
