<!-- <div class="home-image" id="home1">
  <br>
  <p>Yeah you wish you could cook a steak</p>
</div>

<div class="home-image" id="home2">
  <br>
  <p>Maybe even a fancy dish for that special someone</p>
</div> -->
