<div class="home-image" id="home1">
  <br>
  <h5>Yeah you wish you could cook a steak</h5>
  <br>
  <p>{{#link-to "recipes"}}<button class="home-meal" >Cook Steak!</button>{{/link-to}}</p>

</div>

<div class="home-image" id="home2">
  <br>
  <h5>Maybe even a fancy dish for that special someone</h5>
  <br>
  <p>{{#link-to "recipes"}}<button class="home-meal"> Date Meal</button>{{/link-to}}</p>

</div>

<div class="home-image" id="home3">
  <br>
  <h5>Maybe even a fancy dish for that special someone</h5>
  <br>
  <p>{{#link-to "recipes" }}<button class="home-meal">Fancy</button>{{/link-to}}</p>

</div>
