<div class="home-image" id="home1">
  <br>
  <p>Yeah you wish you could cook a steak</p>
  <p>{{#link-to "recipes"}}<a class="btn btn-primary btn-lg" href="#" role="button">Cook Steak!</a>{{/link-to}}</p>

</div>

<div class="home-image" id="home2">
  <br>
  <p>Maybe even a fancy dish for that special someone</p>
  <p>{{#link-to "recipes"}}<a class="btn btn-primary btn-lg" href="#" role="button">Date Meal</a>{{/link-to}}</p>

</div>

<div class="home-image" id="home3">
  <br>
  <p>Maybe even a fancy dish for that special someone</p>
  <p>{{#link-to "recipes" }}<a class="btn btn-primary btn-lg" href="#" role="button">Fancy</a>{{/link-to}}</p>

</div>
