<div id="view-schedules" class="col-md-8 col-md-offset-2">

<h5>Let's start cooking</h5>

{{profile-meal schedule=model
               cook="cook"
               favoriteMeal="favoriteMeal"
               deleteSchedule="deleteSchedule"
             }}

</div>
