<div id="view-schedules">

<h5>Let's start cooking</h5>

{{profile-meal schedule=model
               cook="cook"
               favoriteMeal="favoriteMeal"
               deleteSchedule="deleteSchedule"
             }}

</div>
